*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*Decorating Background of page*/
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: black;
}
/*Decorating Log In Window*/
.log{
    width: 550px;
    border-radius:5px;
    border: solid blue;
}
/*Decorating Header Box with PAC-Manager*/
.log .title{
    line-height: 80px;
    background: yellow;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.log form{
    padding: 30px 25px 25px 25px;
}
.log form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.log form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}
/*Decorates outline of text box when pressed*/
.log form .row input:focus{
    border-color: red;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}
.log form .row img{
    position: absolute;
    width: 47px;
    height: 100%;
    background: black;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Decorating Forgot Password Prompt*/
.log form .forgot-pass{
    margin: -8px 0 20px 0;
}
.log form .forgot-pass a{
    font-size: 17px;
    text-decoration: none;
    color: rgb(7, 223, 234);
}
.log form .forgot-pass a:hover{
    text-decoration: underline;
}
/*Decorating Login Button*/
.log form .button input{
    font-size: 20px;
    font-weight: 600;
    padding-left: 0px;
    border: 1px solid;
    cursor: pointer;
}
.log form .button input:hover{
    background: rgb(158, 158, 154);
}
/*Decorating Create an Account Prompt*/
.log form .signup{
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
}
.log form .signup a{
    text-decoration: none;
    color: rgb(252, 158, 231);
}
.log form .signup a:hover{
    text-decoration: underline;
}

