<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="log">
        <div class="title"><span>PAC-Manager</span></div>
        <form action="/vault" method="post">
            <div class="row">
                <img src="/static/Cherry.PNG"
                    width="20"
                    height="20">
                <input name="email" type="text" placeholder="Email" required>
            </div>
            <div class="row">
                <img src="/static/Key.PNG"
                    width="20"
                    height="20">
                <input name="masterpass" type="password" placeholder="Master Password" required>
            </div>
            <div class="row button">
                <input type="submit" value="Log in">
            </div>
            <div class="signup" style="color: white;">New User? <a href="/">Create an Account</a></div>
        </form>
        <div style="color: red; text-align: center; padding-top: 3px;">The email and/or password you entered are incorrect.</div>
    </div>
</body>
</html>