<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/login.css">
</head>
<body>
    <div class="log">
        <div class="title"><span>PAC-Manager</span></div>
        <form action="/new-user-sign-in" method="post">
            <div class="row">
                <img src="/static/Cherry.PNG"
                    width="20"
                    height="20">
                <input name="OTP" type="text" placeholder="One Time Passcode" required>
            </div>
            <div class="row button">
                <input type="submit" value="Verify">
            </div>
        </form>
    </div>
    {% if image %}
    <img style="width: 350px; height: 350px;" src={{ image }}>
    {% endif %}
</body>
</html>